* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #1d4154;
}
.calc-container {
    /* position: absolute; */
    width: 410px;
    height: 640px;
    margin: 4% auto;
    background-color: #202020;
    border: 1px solid #2bcae2;
}
.calc-container .calc-header {
    width: 100%;
    height: 2em;
    background-color: #2bcae234;
}
.calc-container .calc-display {
    width: 100%;
    height: 12em;
    background-color: #202020;
}
.calc-container .calc-display input {
    cursor: default;
    width: 390px;
    height: 4em;
    font-size: 2.5em;
    margin: 0 auto;
    color: #fff;
    background-color: transparent;
    border: none;
    direction: rtl;
    /* border-style: none; */
}

.calc-container .calc-display p {
    cursor: default;
    width: 390px;
    height: 4em;
    font-size: 2.5em;
    margin: 0 auto;
    padding-top: 1em;
    padding-right: 0.3em;
    color: #fff;
    background-color: transparent;
    border: none;
    direction: rtl;
    /* border-style: none; */
}

.calc-container .calc-display input::placeholder {
    right: 0;
    color: #fff;
}
.calc-container .calc-display input:focus {
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
/* .calc-container .calc-display > input {
-webkit-appearance: none;
} */
.calc-container .calc-botonera {
    display: grid;
    width: 100%;
    height: calc(100% - 14em);
    background-color: #161414;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.calc-container .calc-botonera .calc-btn {
    cursor: default;
    padding-top: .7em;
    text-align: center;
    border: 1px solid #202020;
    color: #fff;
    font-size: 2em;
}
.calc-container .calc-botonera .calc-btn:hover {
    background-color: #202020;
}